DOCUMENTINTELLIGENCE_RESOURCE_GROUP=<resource-group>
DOCUMENTINTELLIGENCE_ACCOUNT_NAME=<docintel-resource-name>
DOCUMENTINTELLIGENCE_ENDPOINT=https://<resource>.cognitiveservices.azure.com/

DOCUMENTINTELLIGENCE_STORAGE_ACCOUNT_NAME=<storage-account>
DOCUMENTINTELLIGENCE_STORAGE_RESOURCE_GROUP=sc1-ml1
DOCUMENTINTELLIGENCE_STORAGE_CONTAINER_NAME=<container>
# Or set a full container URL (including SAS) instead of account+container name:
# DOCUMENTINTELLIGENCE_STORAGE_CONTAINER_URL=https://<account>.blob.core.windows.net/<container>?<sas>
DOCUMENTINTELLIGENCE_STORAGE_PREFIX=

AZURE_OPENAI_ENDPOINT=https://<resource>.openai.azure.com/
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=gpt-5.2
